node_modules/
package-lock.json
android/*.keystore
secrets/
!secrets/.gitkeep
**/keystore.properties
*.apk
!apks/**/*.apk
aabs/
!aabs/.gitkeep
play-scaffolds/
download/android/keystore.properties
Navigate/android/keystore.properties
